.header__top{
   background: #fdfdfd;
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
   .header__contacts{
      display: flex;
      gap:25px;
      font-size: 14px;
      color:$lightGrey;
    .header__email{
      a{
         display: flex;
         align-items: center;
         color: $lightGrey;
         i{
            margin-right: 5px;
         }
         &:hover{
            color: $lightBlue;
         }
      }
    }
   }

   .header__social__icons{
      display: flex;
      gap:20px;
      a{
         font-size: 16px;
         color: $lightGrey;
         &:hover{
            color: $lightBlue;
         }
      }
   }
}