//colors
$white:#fff;
$black:#000;
$lightBlue:#01C1E0;
$blue: #003C6A;
$lightGrey:#A9A9A9;
$grey:#626262;

//breakpoints
$breakpoint_ex:1400px;
$breakpoint_xxl: 1200px;
$breakpoint_xl:1024px;
$breakpoint_lg:900px;
$breakpoint_md:768px;
$breakpoint_sm:575px;
$breakpoint_xs:400px;


